<%-# commented line  if current_user.id !== user.id  %>
<div class='container empty'>
  <h1>Email : <%= @user.email%></h1>
  <br/>
      <%= button_to "Editer mes informations", edit_user_registration_path(current_user), class: "btn btn-outline-secondary", :method => "get" %>

<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around; height: 100%">
  <% @orders.each_with_index do |order, index| %>
    <div class="card text-white bg-secondary mb-3 col-sm-12">
      <div class="card-header">
        <p> Order : <%= index + 1 %> </p>
        <p> ID : <%= order.id %> </p>
      </div>
      <div class="card-body">
        <% order.items.each_with_index do |item, index| %>
        <p> Item  <%= index+1 %> :  <%= item.title%> <%= item.created_at.to_date%> </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
