<div class='container' id='edition'>


<h2>Editer mon profil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br/>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(laissez ce champ vide si vous ne souhaitez pas modifier votre mot de passe)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <br/>


  <div class="field">
    <%= f.label :confirmez_votre_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :mot_de_passe_actuel %> <i>(nous avons besoin de votre mot de passe actuel pour modifier les informations)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Mettre à jour" %>
  </div>
<br/>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Je préfère les chiens aux chats <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous certain de votre choix?" }, method: :delete %></p>

<%= link_to "Retour", :back %>

</div>