<h1 class="mt-4 ml-3">Récapitulatif de ma commande</h1>

<div class="container d-flex flex-column my-3" style="width:50%" >
  <% @order.items.each_with_index do |item, index| %>
    <div class="card border-primary my-2">
      <div class="card-header"> Ref: <%= item.id %></div>
      <div class="card-body">
        <h4 class="card-title"><%= item.title %></h4>
        <p class="card-text"> Prix unitaire: <%= item.price %></p>
      </div>
    </div>

  <% end %>
</div>

<p class="mt-4 ml-3">Le coût total de votre commande numéro <%= @order.id %> est de: <strong> <%= @order.total_price %> euros</strong>.</p>
