<section>
<div class='container'>
  <div class='row'>
  <div class="card show  mb-3 col-sm-7">
  <img src="<%=@item.image_url%>" class="card-img-top" alt="Pour quelques euros vous pouvez faire un heureux, vous.">
    <div class="card-body">
    </div>
</div>
<div class="card show border-dark mb-3 col-sm-4">
  <div class="card-body">
    <h4 class="card-title"><%=@item.title%></h4>
    <p class="card-text"> <%=@item.description%></p>
    <p class='card-text'> <%=@item.price%></p>
  <% if !user_signed_in? %>
      <%= button_to "To order, you must be logged in.", new_user_session_path, class: "btn btn-secondary gosign", :method => "get" %>
    <% else %>
      <%= button_to 'Add to cart', {:controller => "join_cart_items", :action => "create", :item_id => @item.id} , :method=>:post, class: "btn btn-secondary" %>
      
  <%end%>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section>
