<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "KittenMarket", items_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in?%>
        <%= link_to 'My account', profile_path(current_user.id), class:'nav-link' %>
        <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        <%end%>
      <li class="nav-item">
        <% if user_signed_in?%>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link' %>
        <%else%>
        <%end%>
        <% if user_signed_in?%>
      </ul>
      <ul class='navbar-nav mr-2'>
      <li id='go-right' class="nav-item mr-2">
        <a class="nav-link" href="<%=cart_path(current_user.cart.id)%>"> <i class="fas fa-shopping-cart"></i> Mon panier</a>
        <%else%>
        <%end%>
      </li>

      </li>

  </div>
</nav>