<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "KittenMarket", items_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

    </ul>
    <ul class='navbar-nav mr-5'>

  
    
      <li class="nav-item dropdown">
        <% if user_signed_in?%>
        <%= button_to 'Mon compte', profile_path(current_user.id), class:"nav-link dropbtn", :method =>'get'%>
        <div class="dropdown-content">
      <%= button_to "Editer mes informations", edit_user_registration_path(current_user), class: "btn btn-outline-secondary", :method => "get" %>
          <%= button_to 'Se déconnecter', destroy_user_session_path,  method: :delete, class:'btn btn-outline-secondary' %>
          <% else %>
         <%= button_to 'Connexion', new_user_session_path, class:"nav-link dropbtn", :method =>'get'%>
          <div class="dropdown-content">
            <%= button_to 'Se connecter', new_user_session_path, :method =>'get', class: 'btn btn-outline-secondary' %>
            <%= button_to 'Créer un compte', new_user_registration_path, :method =>'get', class: 'btn btn-outline-secondary' %>

            <%end%>
      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in?%>
        <a class="nav-link" href="<%=cart_path(current_user.cart.id)%>"> <i class="fas fa-shopping-cart"></i> Mon
          panier</a>

        <%else%>
        <%end%>
      </li>
    </ul>

  </div>
</nav>